body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#000;
  color:#fff;
}

/* NAVBAR */
.navbar{
  position:absolute;
  top:0;
  left:0;
  right:0;
  padding:20px 50px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:10;
}

.logo{
  color:#e50914;
  font-size:32px;
  font-weight:bold;
}

.signin-btn{
  background:#e50914;
  padding:8px 16px;
  border-radius:6px;
  text-decoration:none;
  color:#fff;
  font-weight:bold;
}

/* HERO */
.hero{
  position:relative;
  height:100vh;
  background:url('https://assets.nflxext.com/ffe/siteui/vlv3/9f5e5ad9-hero.jpg') no-repeat center center/cover;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.65);
}

.hero-content{
  position:relative;
  max-width:800px;
  padding:20px;
}

.hero-content h1{
  font-size:56px;
  margin-bottom:20px;
}

.hero-content h2{
  font-weight:normal;
  margin-bottom:20px;
}

.hero-content p{
  margin-bottom:20px;
  font-size:18px;
}

/* EMAIL BOX */
.email-box{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:10px;
}

.email-box input{
  padding:14px;
  width:300px;
  border:none;
  border-radius:4px;
  font-size:16px;
}

.get-btn{
  background:#e50914;
  padding:14px 22px;
  border-radius:4px;
  text-decoration:none;
  color:#fff;
  font-weight:bold;
  font-size:18px;
  transition:0.3s;
}

.get-btn:hover{
  background:#b20710;
}
